<div *ngIf="usuarioLogueado" class="ui-g">
  <p-dataTable #dt [value]="items" 
            selectionMode="single" 
            [(selection)]="selectedItem" 
            [paginator]="true" 
            [rows]="10" 
            [responsive]="true" 
            (onRowSelect)="onRowSelect($event)" 
            sortMode="multiple"
            [globalFilter]="gb">
      <p-header>
          <h1>Libros</h1>
      </p-header>

      <p-column field="nombre" header="Título" [sortable]="true" [filter]="true"></p-column>
      <p-column field="autor" header="Autor" [sortable]="true" [filter]="true"></p-column>
      <p-column field="posicion" header="Posición" [sortable]="true" [filter]="true"></p-column>
      <p-column field="leido" header="Leído" [sortable]="true" [filter]="true"></p-column>

      <p-footer>
          <div class="ui-buttonpane">
              <div class="pull-right">
                  <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" title="Nuevo libro" label="Nuevo libro"></button>
              </div>
          </div>
      </p-footer>
  </p-dataTable>

  <p-confirmDialog header="Confirmaci&oacute;n de eliminaci&oacute;n" [responsive]="true" key="check"></p-confirmDialog>

  <p-dialog header="Libros" [(visible)]="displayDialog" [responsive]="true" [resizable]="false" [width]="auto" showEffect="fade" [modal]="true">
      <p-messages [value]="msgs"></p-messages>

      <div *ngIf="item">
          <div class="ui-g">
              <div class="ui-md-6">
                  <label for="titulo">Título:<i class="fa fa-asterisk" title="Campo obligatorio"></i></label>
                  <input id="titulo" required="required" placeholder="Título" pInputText [(ngModel)]="item.nombre" />
              </div>
              <div class="ui-md-6">
                    <label for="autor">Código:<i class="fa fa-asterisk" title="Campo obligatorio"></i></label>
                    <input id="autor" required="required" placeholder="Autor" pInputText [(ngModel)]="item.autor" />  
              </div>    
              <div class="ui-md-6">
                <label for="posicion">Posición:<i class="fa fa-asterisk" title="Campo obligatorio"></i></label>
                <input id="posicion" required="required" placeholder="Posición" pInputText [(ngModel)]="item.posicion" />  
          </div>    
              <div class="ui-md-6">
                    <label for="leido">Leído:</label>
                    <input id="leido" placeholder="URL" pInputText [(ngModel)]="item.leido" />  
              </div>    
          </div>
      </div>
      
      <p-footer>
          <div class="ui-dialog-buttonpane">
              <div class="pull-left">
                  <button *ngIf="!newItem" type="button" pButton icon="fa-trash" (click)="confirmDelete()" label="Eliminar"></button>
              </div>
              <div class="pull-right">
                  <button type="button" pButton icon="fa-save" (click)="save()" label="Guardar"></button>
              </div>
          </div>
      </p-footer>
  </p-dialog>
</div>