<div *ngIf="!usuarioLogueado" id="login-wrapper" class="ui-g">
    <div id="login-container" class="ui-g-4 ui-g-offset-4">
        <div class="">
            <div id="brand-content">
                <img src="./assets/img/logo.png" alt="Logo admin" />
                <h1>
                    Aplicaci&oacute;n
                </h1>
            </div>

            <div class="clearfix"></div>

            <div id="login-v2-container">
                <div class="login-content">
                    <div id="mensajes" class="ui-lg-4">
                        <p-messages [value]="msgs"></p-messages>
                    </div>

                    <div *ngIf="!solicitudRecordarContrasenya">
                        <div class="ui-lg-12">
                            <label class="hide" for="usuario">Usuario:</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" id="usuario" placeholder="USUARIO" pInputText [(ngModel)]="usuario"
                            />
                        </div>

                        <div class="ui-lg-12">
                            <label class="hide" for="password">Password:</label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" id="password" type="password" placeholder="PASSWORD"
                                pInputText [(ngModel)]="password" />
                        </div>

                        <div class="ui-lg-12">
                            <button type="button" pButton (click)="save()" label="Entrar"></button>
                        </div>

                        <div class="ui-lg-12">
                            <button class="ui-button-secondary" type="button" pButton label="Recordar contrase&ntilde;a" (click)="activar_recordar_contrasenya()"></button>
                        </div>
                    </div>

                    <div *ngIf="solicitudRecordarContrasenya">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <label class="hide" for="email">Email:
                                <i class="fa fa-asterisk" title="Campo obligatorio"></i>
                            </label>
                            <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" id="email" type="email" required="required" placeholder="EMAIL" pInputText [(ngModel)]="email" />
                        </div>

                        <div>
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <button class="ui-button-danger" type="button" pButton icon="fa-close" (click)="cancelar_recordar_contrasenya()" label="Cancelar"></button>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <button type="button" pButton icon="fa-check" (click)="recordar_contrasenya()" label="Recordar"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="usuarioLogueado" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-8">
            <p>
                <img src="./assets/img/logo_half.png" alt="Logo gestión disotm">
            </p>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <span>{{objUsuarioLogueado.nombre}}</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <button class="v-align-baseline" type="button" pButton label="Cerrar sesi&oacute;n" icon="fa-sign-out" (click)="logout()"></button>
            </div>
        </div>
    </div>
    <div id="header-bot" class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-menu-right ui-menu-inline" *ngIf="usuarioLogueado">
            <p-menubar [model]="itemsMenubar"></p-menubar>
        </div>
    </div>
</div>

<router-outlet></router-outlet>